	<div class="row">
		<div class="small-12 columns">    
			<h1>episode Index</h1>
			<ul>
				<%@episodes.each do |episode| %>
					<%=link_to episode.title, episode %>
					<li><%=episode.uid%> : <%=episode.title %>: <%=episode.description%> : <%=episode.thumbnail%> : <%=episode.views %></li>
				<% end%>
			</ul>
		</div>
	</div>
