<%=render "headline" %>
<div class="margin-top full-width dark">
	<div class="row">
		<div class="text-shadow margin-top small-12 medium-8 columns">
			<header class="home">
				<h1>A Show About Time Travel</h1>
			</header>
		</div>
	</div>
	<div class="row text-shadow" data-equalizer>
		<div class="small-12 medium-6 columns" data-equalizer-watch>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum, incidunt, maxime. Dolores praesentium, odio sequi quis asperiores quisquam, facere, necessitatibus dolorem deserunt vitae veritatis eveniet cumque magni! Corporis, earum sit.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit delectus libero iusto nisi rem alias quibusdam magnam pariatur, debitis corporis repellendus accusantium quam impedit blanditiis, temporibus nobis distinctio perspiciatis. Sunt!</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur placeat explicabo assumenda unde magnam quisquam, hic doloremque autem illo. Voluptates eum vero voluptate, reiciendis voluptatibus nisi rem non ratione officiis!</p>
		</div>
		<div class="small-12 medium-6 columns" data-equalizer-watch>
			<div class="autoplay">
				<div><%=image_tag('qt1.jpg')%> <caption>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</caption></div>
				<div><%=image_tag('qt2.jpg')%> <caption>Quasi, impedit! Eveniet aspernatur, corporis! </caption></div>
				<div><%=image_tag('qt3.jpg')%> <caption>Sunt explicabo beatae, quis. Deleniti mollitia ea laboriosam nostrum sed tempore dolor ipsum molestias ipsa.</caption></div>
				<div><%=image_tag('qt4.jpg')%> <caption>Dolor quidem perferendis deleniti quisquam excepturi.</caption></div>
				<div><%=image_tag('qt5.jpg')%> <caption>Officia nam, cumque sunt in laborum!</caption></div>
			</div>
		</div>
	</div>
	
</div>

<div class="row">
	<div class="small-12 columns">
		<h2>Latest Blog Posts</h2>
	</div>

</div>
 <div class="row">
 	<div class="small-12 columns">
 		<h2>Spend Some Quality Time with Quality Time</h2>
 		<ul class="small-block-grid-3">
			<li>facebook</li>
			<li>twitter</li>
			<li>youtube</li>
		</ul>
 	</div>
 </div>


<%=javascript_include_tag ('home')%>
   