<%=render "headline" %>
<div class="margin-top full-width dark">
	<div class="row">
		<div class="text-shadow margin-top small-12 medium-8 columns">
			<header class="alt">
				<h1>A Show About Time Travel</h1>
			</header>
		</div>
	</div>
	<div class="row text-shadow" data-equalizer>
		<div class="small-12 medium-6 columns" data-equalizer-watch>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum, incidunt, maxime. Dolores praesentium, odio sequi quis asperiores quisquam, facere, necessitatibus dolorem deserunt vitae veritatis eveniet cumque magni! Corporis, earum sit.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit delectus libero iusto nisi rem alias quibusdam magnam pariatur, debitis corporis repellendus accusantium quam impedit blanditiis, temporibus nobis distinctio perspiciatis. Sunt!</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur placeat explicabo assumenda unde magnam quisquam, hic doloremque autem illo. Voluptates eum vero voluptate, reiciendis voluptatibus nisi rem non ratione officiis!</p>
		</div>
		<div class="small-12 medium-6 columns" data-equalizer-watch>
			<div class="autoplay">
				<div><%=image_tag('qt1.jpg')%> <caption>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</caption></div>
				<div><%=image_tag('qt2.jpg')%> <caption>Quasi, impedit! Eveniet aspernatur, corporis! </caption></div>
				<div><%=image_tag('qt3.jpg')%> <caption>Sunt explicabo beatae, quis. Deleniti mollitia ea laboriosam nostrum sed tempore dolor ipsum molestias ipsa.</caption></div>
				<div><%=image_tag('qt4.jpg')%> <caption>Dolor quidem perferendis deleniti quisquam excepturi.</caption></div>
				<div><%=image_tag('qt5.jpg')%> <caption>Officia nam, cumque sunt in laborum!</caption></div>
			</div>
		</div>
	</div>
	
</div>

<div class="row">
	<div class="small-centered small-12 medium-8 columns">
		<header class="std">
			<h2>Latest Blog Posts</h2>
		</header>
		<% @latest_posts.in_groups(2) do |posts| %>
			<article class="row" data-equalizer>
				<%posts.each do |post| %>
				<div class="small-12 medium-6 columns" data-equalizer-watch>
					<a href="/blog/<%=post.url%>">
					<div class="home-post">
						<h3><%= post.title %></h3>
	    				<%= truncate_html(post.content, length: 75, omission: '...') %>
					</div>
					</a>
				</div>
				<%end%>
			</article>
		<%end%>
	</div>

</div>
 <div class="row">
	<div class="small-centered small-12 medium-8 columns">
 		<header class="std">
 			<h2>Quality Time Networks</h2>
 		</header>
 		<ul class="text-center small-block-grid-3">
			<li><a href=""><%=image_tag('facebook.png', width: 75)%></a></li>
			<li><a href=""><%=image_tag('twitter-bird.png', width: 75)%></a></li>
			<li><a href=""><%=image_tag('you-tube.png', width: 75)%></a></li>
		</ul>
 	</div>
 </div>


<%=javascript_include_tag ('home')%>
   