<section class="margin-top row" data-tags="<%= post.tags.map(&:name).join(' ') %>">
	<div class="post-wrap">
		<div class="small-centered small-12 medium-8 columns">
			<%= render partial: 'monologue/posts/post_header', locals: {post: post} %>
		</div>

		<div class="small-centered small-12 medium-8 columns content" data-monologue="content">
			<%= truncate_html(post.content, length: Monologue::Config.preview_size, omission: '...') %>
		</div>

		<div class="tags" data-monologue="tags">
			<%= render post.tags %>
		</div>
		<div class="small-centered small-12 medium-8 columns">
			 <%= link_to t(".readmore"), post.full_url, class: "button" %>
		</div>
	</div>
</section>
