<div class="row">
	<div class="small-12 columns">
		<header class="std">
			<h1>Cast & Crew</h1>
		</header>
		<div class="about-images text-center row">
			<div class="about-image small-12 medium-4 columns">
				<%=image_tag('headshots/kim.JPG')%>
				<div class="about-image-blurb">
				<span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A eveniet quisquam rerum facilis ipsam architecto excepturi quae vel, ipsum aliquid et reprehenderit sint, illum inventore accusamus beatae mollitia labore? Facilis.</span></div>
				<header class="std">
					<h3>Sara Amini</h3>
				</header>
				<p>aka Kim</p>
			</div>
			<div class="about-image small-12 medium-4 columns">
				<%=image_tag('headshots/david.jpg')%>
				<div class="about-image-blurb">
				<span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A eveniet quisquam rerum facilis ipsam architecto excepturi quae vel, ipsum aliquid et reprehenderit sint, illum inventore accusamus beatae mollitia labore? Facilis.</span></div>
				<header class="std">
					<h3>David Alfano</h3>
				</header>
				<p>aka Henry</p>
			</div>
			<div class="about-image small-12 medium-4 columns">
				<%=image_tag('headshots/sarah.jpg')%>
				<div class="about-image-blurb">
				<span>Sarah Jeanne Terry is a writer and producer known for her Basque eyebrows and her three first names.  She's written several episodes of TV and some very eloquent post-it notes.  She's terrified of scorpions, and teacup pigs in tiny boots are her spirit animal.  </span></div>
				<header class="std">
					<h3>Sarah Terry</h3>
				</header>
				<p>aka Writer/Producer</p>
			</div>
			<div class="about-image small-12 medium-4 columns">
				<%=image_tag('headshots/jeff.jpg')%>
				<div class="about-image-blurb">
				<span>Jeff Girten is a writer & producer of television and digital content. In his free time, Jeff can often be found pondering his next move in a game of Settlers of Catan over a mini-donut. You could call him a smartass, but he prefers you call him Jeff.</span></div>
				<header class="std">
					<h3>Jeff Girten</h3>
				</header>
				<p>aka Writer/Producer</p>
			</div>		
			<div class="about-image small-12 medium-4 columns">
				<%=image_tag('headshots/amanda.jpg')%>
				<div class="about-image-blurb">
				<span>Amanda Steinhoff is a writer known for her love of wizards and tiny stuffed narwhals.  She has written several TV episodes for the Disney channel, which are kid friendly, and one novel about a promiscuous lady pirate, which is definitely not kid friendly.</span></div>
				<header class="std">
					<h3>Amanda Steinhoff</h3>
				</header>
				<p>aka Writer</p>
			</div>
				
		</div>
	</div>
</div>