<div class="row">
	<div class="small-12 columns">
		<header class="std">
			<h1>Cast</h1>
		</header>
		<div class="about-images text-center row">
			<div class="about-image small-12 medium-4 columns">
				<%=image_tag('https://placehold.it/200x200')%>
				<div class="about-image-blurb">
				<span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A eveniet quisquam rerum facilis ipsam architecto excepturi quae vel, ipsum aliquid et reprehenderit sint, illum inventore accusamus beatae mollitia labore? Facilis.</span></div>
			</div>
			<div class="about-image small-12 medium-4 columns">
				<%=image_tag('https://placehold.it/200x200')%>
				<div class="about-image-blurb">
				<span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A eveniet quisquam rerum facilis ipsam architecto excepturi quae vel, ipsum aliquid et reprehenderit sint, illum inventore accusamus beatae mollitia labore? Facilis.</span></div>
			</div>
			<div class="about-image small-12 medium-4 columns">
				<%=image_tag('https://placehold.it/200x200')%>
				<div class="about-image-blurb">
				<span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A eveniet quisquam rerum facilis ipsam architecto excepturi quae vel, ipsum aliquid et reprehenderit sint, illum inventore accusamus beatae mollitia labore? Facilis.</span></div>
			</div>
			<div class="about-image small-12 medium-4 columns">
				<%=image_tag('https://placehold.it/200x200')%>
				<div class="about-image-blurb">
				<span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A eveniet quisquam rerum facilis ipsam architecto excepturi quae vel, ipsum aliquid et reprehenderit sint, illum inventore accusamus beatae mollitia labore? Facilis.</span></div>
			</div>
			<div class="about-image small-12 medium-4 columns">
				<%=image_tag('https://placehold.it/200x200')%>
				<div class="about-image-blurb">
				<span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A eveniet quisquam rerum facilis ipsam architecto excepturi quae vel, ipsum aliquid et reprehenderit sint, illum inventore accusamus beatae mollitia labore? Facilis.</span></div>
			</div>
			<div class="about-image small-12 medium-4 columns">
				<%=image_tag('https://placehold.it/200x200')%>
				<div class="about-image-blurb">
				<span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A eveniet quisquam rerum facilis ipsam architecto excepturi quae vel, ipsum aliquid et reprehenderit sint, illum inventore accusamus beatae mollitia labore? Facilis.</span></div>
			</div>
			<div class="about-image small-12 medium-4 columns">
				<%=image_tag('https://placehold.it/200x200')%>
				<div class="about-image-blurb">
				<span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A eveniet quisquam rerum facilis ipsam architecto excepturi quae vel, ipsum aliquid et reprehenderit sint, illum inventore accusamus beatae mollitia labore? Facilis.</span></div>
			</div>
			<div class="about-image small-12 medium-4 columns">
				<%=image_tag('https://placehold.it/200x200')%>
				<div class="about-image-blurb">
				<span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A eveniet quisquam rerum facilis ipsam architecto excepturi quae vel, ipsum aliquid et reprehenderit sint, illum inventore accusamus beatae mollitia labore? Facilis.</span></div>
			</div>
			<div class="about-image small-12 medium-4 columns">
				<%=image_tag('https://placehold.it/200x200')%>
				<div class="about-image-blurb">
				<span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A eveniet quisquam rerum facilis ipsam architecto excepturi quae vel, ipsum aliquid et reprehenderit sint, illum inventore accusamus beatae mollitia labore? Facilis.</span></div>
			</div>
			
		</div>
	</div>
	<div class="small-12 columns">
		<header class="std">
			<h1>Crew</h1>
		</header>
		<div class="about-images text-center row">
			<div class="about-image small-12 medium-4 columns">
				<%=image_tag('https://placehold.it/200x200')%>
				<div class="about-image-blurb">
				<span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A eveniet quisquam rerum facilis ipsam architecto excepturi quae vel, ipsum aliquid et reprehenderit sint, illum inventore accusamus beatae mollitia labore? Facilis.</span></div>
			</div>
			<div class="about-image small-12 medium-4 columns">
				<%=image_tag('https://placehold.it/200x200')%>
				<div class="about-image-blurb">
				<span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A eveniet quisquam rerum facilis ipsam architecto excepturi quae vel, ipsum aliquid et reprehenderit sint, illum inventore accusamus beatae mollitia labore? Facilis.</span></div>
			</div>
			<div class="about-image small-12 medium-4 columns">
				<%=image_tag('https://placehold.it/200x200')%>
				<div class="about-image-blurb">
				<span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A eveniet quisquam rerum facilis ipsam architecto excepturi quae vel, ipsum aliquid et reprehenderit sint, illum inventore accusamus beatae mollitia labore? Facilis.</span></div>
			</div>
			<div class="about-image small-12 medium-4 columns">
				<%=image_tag('https://placehold.it/200x200')%>
				<div class="about-image-blurb">
				<span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A eveniet quisquam rerum facilis ipsam architecto excepturi quae vel, ipsum aliquid et reprehenderit sint, illum inventore accusamus beatae mollitia labore? Facilis.</span></div>
			</div>
			<div class="about-image small-12 medium-4 columns">
				<%=image_tag('https://placehold.it/200x200')%>
				<div class="about-image-blurb">
				<span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A eveniet quisquam rerum facilis ipsam architecto excepturi quae vel, ipsum aliquid et reprehenderit sint, illum inventore accusamus beatae mollitia labore? Facilis.</span></div>
			</div>
			<div class="about-image small-12 medium-4 columns">
				<%=image_tag('https://placehold.it/200x200')%>
				<div class="about-image-blurb">
				<span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A eveniet quisquam rerum facilis ipsam architecto excepturi quae vel, ipsum aliquid et reprehenderit sint, illum inventore accusamus beatae mollitia labore? Facilis.</span></div>
			</div>
		</div>
	</div>
</div>