<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Quality Time" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <nav class="show-for-small-only">
      <nav class="top-bar" data-topbar role="navigation">
        <ul class="title-area">
          <li class="name">
            
          </li>
          <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
        </ul>

        <section class="top-bar-section">
          <ul class="text-center mobile-nav right">
            <li>
              <%=link_to main_app.root_path do %>
                <%=image_tag "home.svg", width: 50 %>
                 <label>Home</label>
              <%end%>
            </li>
            <li>
              <%=link_to main_app.episodes_path do %>
                <%=image_tag "camera.svg", width: 50 %>
                <label>Episodes</label>
              <%end%>
            </li>
            <li>
              <%=link_to main_app.monologue_path do %>
                <%=image_tag "typewriter.svg", width: 50 %>
                <label>Blog</label>
              <%end%>
            </li>
            <li>
              <%=link_to main_app.about_path do %>
                <%=image_tag "about.svg", width: 50 %>
                <label>About</label>
              <%end%>
            </li>            
          </ul>
        </section>
      </nav>
    </nav>
    <div class="row">
      <div class="text-center small-12 columns">
        <div class="logo">
          <h1><%=image_tag('logo.svg', width: 250)%></h1>
        </div>
      </div>
    </div>
      <nav class="show-for-medium-up icon-bar-nav"> 
        <div class="row">
          <div class=" small-12 columns">
            <div class="icon-bar four-up">
              <%=link_to main_app.root_path, class: "item" do %>
                <%=image_tag "home.svg"%>
                <label>Home</label>
              <%end%>
              <%=link_to main_app.episodes_path, class: "item" do %>
                <%=image_tag "camera.svg"%>
                <label>Episodes</label>
              <%end%>
              <%=link_to main_app.monologue_path, class: "item" do %>
                <%=image_tag "typewriter.svg"%>
                <label>Blog</label>
              <%end%>
              <%=link_to main_app.about_path, class: "item" do %>
                <%=image_tag "about.svg"%>
                <label>About</label>
              <%end%>
            </div>
          </div>
        </div>
      </nav>
    <%= yield %>
  </body>
</html>
